.demo-table {
    width: 100%;
  }
  
  .demo-button-container {
    padding-bottom: 16px;
    padding-top: 16px;
  }
  
  .demo-button + .demo-button {
    margin-left: 8px;
  }
  .mat-header-cell{
    background-color: #3f51b5;
    color: white;
  }
  .border{
    border: 1px;
  }